{% extends 'rango/base.html' %}
{% block title_block %}
    {{ category.name }}
{% endblock %}

{% block body_block %}
<div>
    {% if category %}
    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading">{{ category.name }}</h1>
        </div>
    </div>
    <div>
        {% if pages %}
            <ul>
            {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <strong>No pages currently in category.</strong>
        {% endif %}
    {% else %}
        The specified category does not exist!
    {% endif %}
</div>
<a href="add_page/">Add a page</a> <br />
<a href="{% url 'index' %}">Go back to rango</a>
{% endblock %}